# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# MLflow
mlruns/
mlflow.db

# DVC
/tmp/

# Data (too large for GitHub)
data/raw/
data/processed/

# Models
models/

# Reports
reports/

# VS Code
.vscode/
